<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.dao.product.ProductCategoryMapper">
    <cache eviction="FIFO" flushInterval="600000" size="512" readOnly="true" />

    <delete id="deleteById" parameterType="Integer">
        delete from easybuy_product_category where id = #{parseLong}
    </delete>

    <select id="queryProductCategorylist" parameterType="ProductCategoryParam"
            resultType="ProductCategory">
        SELECT epc1.*,epc2.name as parentName
        FROM easybuy_product_category
        epc1
        LEFT JOIN easybuy_product_category epc2 ON epc1.parentId=epc2.id
        where 1=1
        <if test="name !=null and name !=''"> and epc1.name like CONCAT('%',#{name},'%')</if>
        <if test="parentId !=null"> and epc1.parentId = #{parentId}</if>
        <!-- <if test="parentId ==null"> and epc1.parentId = 0</if> -->
        <if test="type !=null and type !=''">and epc1.type = #{type}</if>
        <if test="startIndex!=null">limit #{startIndex},#{pageSize}</if>
    </select>

    <select id="queryProductCategoryById" parameterType="Integer" resultType="ProductCategory">
        SELECT id,name,parentId,type,iconClass  FROM easybuy_product_category where id = #{id}
    </select>

    <insert id="add" parameterType="ProductCategory">
        INSERT into
            easybuy_product_category(name,parentId,type,iconClass)
        values
            (#{name},#{parentId},#{type},#{iconClass})
    </insert>

    <select id="queryProductCategoryCount" parameterType="ProductCategoryParam" resultType="int">
        SELECT count(*) count FROM easybuy_product_category where
        1=1
        <if test="name !=null and name !=''"> and epc1.name like CONCAT('%',#{name},'%')</if>
        <if test="parentId !=null and parentId !=''"> and epc1.parentId = #{parentId}</if>
    </select>

    <update id="update" parameterType="ProductCategory">
        UPDATE
            easybuy_product_category
        SET
            name = #{name},
            parentId = #{parentId},
            type = #{type},
            iconClass = #{iconClass}
        WHERE
            id =#{id}
    </update>

</mapper>